{% extends 'base.html' %}

{% block content %}
<style>
    table {
    width: 100%;
    }

    td, th {
    border-bottom: 1px solid;
    border-color: #0B1957;
    text-align: left;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    }

    #product_table {
    color: #0B1957;
    }

    .modal-header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0B1957;
    }

    .modal-body .col-form-label {
    color: #0B1957;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .modal-footer .btn-primary {
    background-color: #0B1957;
    color: #F8F3EA;
    border-color: #0B1957;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .modal-footer .btn-secondary {
    color: #F8F3EA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .modal-content {
    background-color: #F8F3EA;
    }

</style>


<div style = "background-color:#F8F3EA; height: 100vh;">
    <nav style="background-color: #F8F3EA; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
        <div class="container-fluid text-center">
            <h1 style="color: #0B1957; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px; position: center; font-weight: 600;" class="navbar-brand mb-0 h1">Raisa's Inventory</h1>
        </div>
        <div>
            <a href="{% url 'main:logout' %}">
                <button style="background-color: #0B1957; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; color: #F8F3EA; border-color: #0B1957;" class="btn btn-primary">
                    Logout
                </button>
            </a>
        </div>
    </nav>

<h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 25px; color: #0B1957; font-weight: 600;">Welcome Back, {{user}}!</h2>

<table id="product_table"></table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amounts" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amounts" name="amounts"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="prices" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="prices" name="prices"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<div style="padding: 30px;">
<div style=" display:flex; justify-content: space-between; text-align: center;">
<p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #0B1957;">You have saved {{item_count}} items in this application.</p>
 
<div>
        <button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #0B1957; border-color: #0B1957; background-color: transparent;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add New Product
        </button>
</div>
</div>

<br>
<br>
<br>

<h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #0B1957; font-size: 10pt;">Last login session: {{ last_login }}</h5>
</div>
</div>
<footer style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #F8F3EA; text-align: center; background-color: #0B1957;">
    &copy; 2023 {{name}} {{class}}.  All rights reserved
</footer>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.amounts}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.prices}</td>
            <td>${item.fields.date_added}</td>
            <td>
                <button onclick="deleteProduct(${item.pk})" class="btn btn-danger" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #F8F3EA;">Delete</button>
            </td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct

    function deleteProduct(id) {
        fetch("delete-product-ajax/" + id, {
            method: "POST"
        }).then(refreshProducts);

        document.getElementById("form").reset();
        return false;
    }

</script>

{% endblock content %}